/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ---------------------------------------- */
/* Стилі для поля вводу */
.input-field {
  width: 280px;
  border-radius: 10px;
  background: #fff;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.5;
  padding: 10px 0 10px 20px;
}

/* Стилі для кнопки запуску */
.start-btn {
  font-family: Montserrat;
  padding: 10px 20px;
  border-radius: 10px;
  background: #cfcfcf;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  border-color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Контейнер для таймера */
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

/* Контейнер для поля */
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Значення таймера */
.value {
  color: #2e2f42;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

/* Контейнер для введення і кнопки */
.input-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}